.timer{
    margin: 1rem;
    padding: 1rem;
}

button{
    margin: 0.5rem;
}

p{
    margin: 10px;
}

.resourceType{
    display: flex;
    font-size: 25px;
}

.resourceType>h3{
    margin: 0.5rem;
}

.resourceType>select{
    margin: 0.5rem;
    font-size: 20px;
}

.selected{
    max-width: 15rem;
    display: flex;
    font-size: 20px;
}

.selected>span{
    margin-left: 0.5rem;
    background-color:azure;
}