.todo>input{
    border: 2px solid #000;
    padding: 7px;
}

.todo{
    margin: 1rem;
    padding: 1rem;
}
.todo>button, ol>li>button{
    background-color: #f9f9f9;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    transition: border-color 0.25s;
    margin-left: 12px;
    margin-bottom: 5px;
}

ol {
    list-style:lower-roman;
  }
